# General to the entire repository

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# distribution package
dist/**/*.png
dist/**/*.gif

# documentation
docs/**/*.pdf